@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-muted text-slate-900 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}
